@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(
      circle at top,
      rgba(12, 125, 107, 0.45) 0%,
      rgba(12, 125, 107, 0.18) 20%,
      transparent 45%
    ),
    linear-gradient(
      to bottom,
      #0f0f0f,
      #181818,
      #242424
    );
}
